.container {
  width: 150px;
  height: 150px;
  margin: 15px;
  transform-style: flat;
}

.container > div {
  position: absolute;
  width: 150px;
  height: 150px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
}

.containerText {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}