.container {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 100px;
  height: 50px;
  background-color: #888888;
  box-shadow: 0 0 10px 1px #cb3c34;
  border-radius: 5px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.logoutWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoutText {
  color: #ffffff;
  font-size: 16px;
  vertical-align: middle;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
}
