.container {
  min-height: 100vh;
  background: center / cover no-repeat url("../../assets/images/Results2.jpg"),
    #000000;
  background-attachment: fixed;
}

.mainContent {
  width: 30%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
